@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/red";

body {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}
