.menu {
    display: flex;
    flex-direction: column;
    z-index: 9999;
    border-radius: 8px;
    position: absolute;
    background: var(--card-bg);
    border: 1px solid var(--primary-color);
}

.item {
    width: 100%;
    cursor: pointer;
    padding: 10px 25px;
}
