.light {
    --bg-color: #e1d9d9;
    --inverted-bg-color: #13195d;
    --primary-color: #25309d;
    --secondary-color: #058cee;
    --inverted-primary-color: #00e800;
    --inverted-secondary-color: #009800;
}
