.app_light_theme {
    --bg-color: #e1d9d9;
    --inverted-bg-color: #13195d;
    --primary-color: #25309d;
    --secondary-color: #058cee;
    --inverted-primary-color: #00e800;
    --inverted-secondary-color: #009800;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #bbb5b5;

    // list
    --listbox-bg: #bbb5b5;
}
