.app_red_theme {
    --bg-color: #e1d9d9;
    --inverted-bg-color: #ff351f;
    --primary-color: #141404;
    --secondary-color: #46463e;
    --inverted-primary-color: #ccc6c6;
    --inverted-secondary-color: #858282;
}
