.Dropdown {
    position: relative;
}

.btn {
    cursor: pointer;
    background: none;
}

.menu {
    display: flex;
    flex-direction: column;
    z-index: 9999;
    border-radius: 8px;
    position: absolute;
    background: var(--card-bg);
    border: 1px solid var(--primary-color);
}

.item {
    width: 100%;
    cursor: pointer;
    padding: 10px 25px;
    background: none;
}

.active {
    background: var(--inverted-primary-color);
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}
